#canvas_id {
     border: 1px solid #d3d3d3;
     background-color: #f1f1f1;
     margin: auto;
     display: block;
     margin-top: 200;
}
.button_wrap {
     text-align: center;
}
button {
     margin: 10 0;
}
#button_up {
     display: block;
     margin: 10 auto;
}
#button_down {
     display: block;
     margin: 10 auto;
}
